.btn:focus {
  border: 2px solid #ffffff !important;
  box-shadow: 0 0 0 2px #151921;
}

.btn-primary {
  background-color: var(--ksa-primary);
  border: none!important;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: var(--ksa-success-700)!important;
}

.btn-primary:focus {
  background-color: var(--ksa-primary)!important;
}

.btn-primary:active {
  background-color: var(--ksa-success-900)!important;
  border: none;
  box-shadow: none;
}

.btn-neutral {
  background-color: var(--ksa-black);
  color: white !important;
  border: none;
}

.btn-neutral:hover {
  background-color: var(--ksa-gray-900)!important;
}

.btn-neutral:focus {
  background-color: var(--ksa-black);
}

.btn-neutral:active {
  background-color: var(--ksa-gray-600)!important;
  border: none;
  box-shadow: none;
}

.btn-secondary {
  background-color: var(--ksa-gray-40);
  color: black !important;
  border: none !important;
}

.btn-secondary:hover {
  background-color: var(--ksa-light-hover)!important;
}

.btn-secondary:focus {
  background-color: var(--ksa-gray-40);
}

.btn-secondary:active {
  background-color: var(--ksa-light-hover)!important;
  border: none;
  box-shadow: none;
}

.btn-secondary-outline {
  background-color: transparent;
  color: black !important;
  border: 1px solid var(--ksa-gray-300);
}

.btn-secondary-outline:hover {
  background-color: var(--ksa-gray-40) !important;
  border: 1px solid var(--ksa-gray-40);
}

.btn-secondary-outline:focus {
  background-color: var(--ksa-gray-40);
}

.btn-secondary-outline:active {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}

.btn-subtle {
  background-color: transparent;
  color: black !important;
}

.btn-subtle:hover {
  background-color: var(--ksa-gray-40) !important;
}

.btn-subtle:focus {
  background-color: transparent;
}

.btn-subtle:active {
  background-color: var(--ksa-light-hover)!important;
  border: none;
  box-shadow: none;
}

.btn-transparent {
  background-color: transparent;
  color: black;
}

.btn-transparent:hover {
  color: var(--ksa-success-700);
}

.btn-transparent:focus {
  background-color: transparent;
}

.btn-transparent:active {
  background-color: var(--ksa-success-900);
  border: none;
  box-shadow: none;
}

.carousel-indicators {
}

.carousel-indicators {
}

